.upload-drawer {
  background-color: darkslategray;
  height: 100%;
  padding-top: 8%;
  h3 {
    display: table;
    padding-bottom: 20px;
  }
  p {
    font-size: 15px;
  }
  .caption-area {
    max-width: 282px;
    position: relative;
  }
  .image-area {
    max-width: 280px;
    height: 280px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    position: relative;
    img {
      max-width: 275px;
      height: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .button-area {
    max-width: 280px;
    position: relative;
  }

}
