.navigation {
  background-color: brown;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
 .container-fluid {
   position: absolute;
   padding: 10px;
   h6 {
     padding-right: 30px;
     top: 13px;
   }
   svg {
    fill: white;
     top: 15px;
   }
   h6, svg {
     margin: auto;
     right: 0;
     left: auto;
     position: absolute;
   }
 }
}

.drawer-side {
  height: 100vh;
  margin-top: 50px;
  position: fixed;
  left: 0;
  z-index: 9;
}
.content-side {
  height: 100vh;
  margin-top: 50px;
  position: absolute;
  right: 0;
  background-color: antiquewhite;
  .post {
    background-color: white;
    margin: 15px 5px;
    padding: 15px;
    .caption {
      padding-left: 3px;
      .post-user {
        display: flex;
        .user-avatar {
          svg {
            width: 25px;
            height: auto;
          }
        }
      }
    }
    .image {
      img {
        width: 100%;
        height: auto;
        padding: 15px 5px;
      }
    }
    .comment {
      padding-top: 15px;
      .input-comment {
        background: antiquewhite;
        outline: none;
        box-shadow: none;
        border: none;
        padding: 3px 10px 4px;
      }
      button {
        border-radius: 0;
        color: white;
      }
      .card {
        border-radius: 0;
      }
    }
  }
}

@media (max-width: 576px){
  .drawer-side {
    position: relative!important;
  }
  .content-side {
    position: relative !important;
    .comment {
      .card {
        width: 100% !important;
      }
    }
  }
}

