<div>
  <div class="navigation">
    <div class="container-fluid row">
      <div class="col-md-12 col-lg-6">
        <h5 class="text-light">leveingroup Public Forum</h5>
      </div>
      <div class="col-md-12 col-lg-6">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
          <path d="M256 288A144 144 0 1 0 256 0a144 144 0 1 0 0 288zm-94.7 32C72.2 320 0 392.2 0 481.3c0 17 13.8 30.7 30.7 30.7H481.3c17 0 30.7-13.8 30.7-30.7C512 392.2 439.8 320 350.7 320H161.3z"/>
        </svg>
        <h6 class="text-light align-content-end">{{randomUsername}}</h6>
      </div>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-lg-4 col-sm-12 p-0 drawer-side">
      <app-uploader [username]="randomUsername"></app-uploader>
    </div>
    <div class="col-lg-8 col-sm-12 p-0 content-side">
      <div class="container">

        <div class="post">
          <div class="row">
            <div class="col-12">
              <div class="caption">
                <h5 class="text-uppercase mb-0">Caption Here</h5>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="image">
                <img src="https://picsum.photos/200">
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="comment">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

<!--        <input [(ngModel)]="caption" type="text" name="caption">-->
      </div>
    </div>
  </div>


</div>
